*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    z-index: 0;
}
html{
    overflow-x: hidden;
}

:root{
    font-size: 10px;
    --dark-bg: #002c26;
    --light-bg : #56BF92;
    --med-bg: #25756A;
}
nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: var(--dark-bg);
}
.nav-links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links img{
    width: 4rem;
    cursor: pointer;
    margin: 1rem 1.5rem 0rem 1.5rem;
}
.nav-links img:nth-of-type(1){
    width: 6rem;
}
.navContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
    position: fixed;
    top: 10vh;
    left: 0;
    background-color: var(--dark-bg);
}
.navContent li{
    list-style: none;
}
.navContent li a{
    list-style: none;
    color: #f5f5f5;
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}
.notVisible{
    display: none;
}
.hero-section{
    min-height: 100vh;
    width: 100%;
    background-color: var(--dark-bg);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-text{
    /* min-height: 50vh;
    width: 40%;
    position: absolute;
    left: -4rem;
    top: 20vh; */
    width: 50vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.hero-img{
    right: 0;
    position: absolute;
    top: 0;
    width: 50vw;
    max-height: 100vh;
    z-index: 0;
    overflow-y: hidden;
    overflow: hidden;
}
.hero-img img{
    max-height: 100%;
    transform: translateY(-5rem);
}
.hero-text h1{
    color: #f5f5f5;
    font-size: 5rem;
    letter-spacing: 3px;
    font-weight: bold;
    font-variant-numeric: lining-nums;
}
.hero-text h4{
    color: var(--light-bg);
    font-size: 1.6rem;
    font-weight: 300;
}
.hero-text p{
    font-size: 1.5rem;
    color: #f5f5f5;
    width: 60%;
    text-align: center;
}
.hero-text button{
    font-size: 2rem;
    padding: 1.2rem 1.5rem;
    border-radius: 100px;
    background-color: var(--light-bg);
    color: var(--dark-bg);
    border: none;
    font-weight: 700;
    transition: .3s ease-in-out ;
}
.hero-text button:hover, .etalks-text button:hover,.epitch-text button:hover{
    transition: .3s ease-in-out ;
    letter-spacing: 2px;
    cursor: pointer;
}

/*E-Talks*/
.etalks-section{
    z-index: 2;
    min-height: 100vh;
    width: 100%;
    padding: 10rem 5rem;
    display: grid;
    grid-template-columns: 50% 50%;
}
.etalks-text {
    color: var(--dark-bg);
    font-size: 3.5rem;
    font-weight: 950;
}
.etalks-text .main{
    color: var(--light-bg);
}
.etalks-text p, .epitch-text p{
    margin: 2rem 0 0 0;
    font-size: 1.7rem;
    font-weight: bold;
    color: rgb(110, 110, 110);
    width: 90%;
}
.etalks-text button{
    margin-top: 5rem;
    padding: 1.2rem 1.5rem;
    border-radius: 100px;
    background-color: var(--light-bg);
    color: white;
    border: none;
    font-weight: 700;
    transition: .3s ease-in-out ;
}
.etalks-img img{
    width: 100%;
    height: 90%;
    position: relative;
    top: -5rem;
    left: 3rem;
}

/*E-Pitch*/
.epitch-section{
    min-height: 100vh;
    width: 100%;
    padding: 10rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.epitch-text{
    width: 50%;
}
.epitch-section div:nth-of-type(1) img{
    width: 90%;
    padding: 0 2rem;
}
.epitch-text h1{
    font-size: 4rem;
    font-size: 900;
    color: var(--med-bg);
}
.epitch-text button{
    margin-top: 5rem;
    padding: 1.2rem 1.5rem;
    border-radius: 100px;
    background-color: var(--light-bg);
    color: white;
    border: none;
    font-weight: 700;
    transition: .3s ease-in-out ;
}
/* E-Pitch Accordian - dropdown */

.HeadingWorkshop{
    font-size: 50px;
    text-align: center;
    color: #25756A;
    padding-top: 10%;
}

.WoskshopHolder{
    font-family: 'Raleway';
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.05em;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10%;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10%;
}

.topLeft{
    margin-bottom: 20%;
}

.topRight{
    margin-bottom: 20%;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 900px) {
    .epitch-text{
        width: 70%;
    }
    .epitch-section div:nth-of-type(1) img{
        width: 80%;
        padding: 0 2rem;
    }
    .etalks-text h1{
        font-size: 3.2rem;
    }
    .hero-text{
        width: 60vw;
    }
  }
  @media only screen and (max-width: 768px) {
    .epitch-section div:nth-of-type(1){
        width: 80%;
    }
    .etalks-text h1{
        font-size: 3rem;
    }
    .etalks-text p{
        font-size: 1.5rem;
    }
    .hero-img{
        display: none;
    }
    .hero-text{
        width: 100%;
    }

}
@media only screen and (max-width: 600px) {
    :root{
        font-size: 9px;
    }
    .epitch-section{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 4rem;
    }
    .epitch-section div:nth-of-type(1){
        width: 100%;
    }
    .epitch-text{
        width: 100%;
    }
    .etalks-section{
        padding: 4rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: flex-start;
    }
    .etalks-img img{
        width: 80%;
        top: 0;
        left: 0;
    }
    .etalks-text h1{
        font-size: 3.2rem;
    }
    .etalks-text p{
        font-size: 1.7rem;
    }

}
@media only screen and (max-width: 480px) {
    :root{
        font-size: 9px;
    }
    .epitch-section{
        padding: 2rem 4rem;
    }
    .hero-text h1{
        font-size: 4rem;
    }
    .hero-text h4{
        font-size: 3rem;
    }
    .hero-text p{
        font-size: 2rem;
    }
    .hero-text button{
        font-family: 4rem;
    }
    .etalks-section{
        min-height: 90vh;
        justify-content: space-around;
    }
}